#loading {
  width: 100vw;
  height: 100vh;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.idND {
  display: none;
}

.sp-thongbao {
  color: red;
  margin-left: 2px;
  display: none;
}
